{% extends 'reservoir/base.html' %}
{% load static %}

{% block title %}tap{% endblock %}

{% block content %}
<div class="row">
  <div class="offset-1 col-10">
    <ul class="nav nav-pills nav-fill border rounded">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#subjects">Subjects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#files">All Files</a>
      </li>
    </ul>
  </div>
</div>
<div class=tab-content>
  <div class="tab-pane active" id="subjects" role="tabpanel">
    <script>
      ReactDOM.render(
        React.createElement(Table, {
          filter: false,
          buttons: false,
          select: false,
          table_url: "{% url 'table' %}",
          table_id: "subjecttable",
          fields: ["Subject"]
        }),
        document.getElementById("subjects")
      );
    </script>
  </div>
  <div class="tab-pane" id="files" role="tabpanel">
    <script>
      ReactDOM.render(
        React.createElement(Table, {
          filter: true,
          buttons: true,
          select: true,
          table_url: "{% url 'table' %}",
          filter_urls: ["{% url 'api_fields' %}","{% url 'api_unique' %}"],
          table_id: "filetable",
          fields: ["Filename","Path"]
        }),
        document.getElementById("files")
      );
    </script>
  </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}
