{% extends 'reservoir/base.html' %}
{% load static %}

{% block title %}tap{% endblock %}

{% block content %}
<div class="row">
  <div class="offset-1 col-10">
    <ul class="nav nav-pills nav-fill border rounded">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#subjects">Subjects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#files">All Files</a>
      </li>
    </ul>
  </div>
</div>
<div class=tab-content>
  <div class="tab-pane active" id="subjects" role="tabpanel">
      {% with col1='Subject' col2='null' table_comp='st' table_id='subtable' %}
      {% include 'reservoir/table.html' %}
      {% endwith %}
  </div>
  <div class="tab-pane" id="files" role="tabpanel">
    {% include 'reservoir/filter.html' %}
    {% include 'reservoir/table_buttons.html' %}
    {% with col1='Filename' col2='Path' table_comp='ft' table_id='filetable' %}
    {% include 'reservoir/table.html' %}
    {% endwith %}
  </div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript">
// initialize file table
$(document).ready(function() {

  // // initialize subject table
  // $('#subtable').DataTable({
  //   'processing': true,
  //   'serverSide': true,
  //   'lengthMenu': [
  //     [10, 25, 50, -1],
  //     [10, 25, 50, "All"]
  //   ],
  //   'ajax': {
  //       'url': '{% url 'table' %}',
  //       'data': (d)=>{
  //         d.tabletype = 'subjects';
  //       },
  //       'type': 'POST'
  //   },
  //   'columnDefs': [
  //     {
  //       'render': function(data,type,row) {
  //         return "<a href='subject/" + data + "' target='_blank'>" + data + "</a>";
  //       },
  //       'targets': 0
  //     }
  //   ]
  // });

});
</script>
{% endblock %}
