{% extends 'reservoir/base.html' %}
{% load static %}

{% block title %}tap - {{ subject }}{% endblock %}

{% block content %}
<div class="row">
  <div class="offset-1 col-10">
    <div class="jumbotron">
      <h1 class="display-4">{{ subject }}</h1>
      <p class="lead">Sessions: {{ num_sessions }}</p>
      <p class="lead">Files: {{ num_files }}</p>
    </div>
  </div>
  <div class="offset-1 col-10">
    {% for session in sessions %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Executive Summary</li>
      <li class="breadcrumb-item active"><a href="{% url 'exec_summary' subject session %}" target="_blank">{{ session }}</a></li>
    </ol>
    {% endfor %}
  </div>
</div>
{% include 'reservoir/filter.html' %}
{% include 'reservoir/table_buttons.html' %}
{% with col1='Filename' col2='Path' tabletype='files' table_comp='ft' table_id='filetable' subject=subject %}
{% include 'reservoir/table.html' %}
{% endwith %}
{% endblock %}

{% block scripts %}
<script type="text/javascript">
// delete search box
$(document).ready(function() {
  $('#filetable_filter').css('display','none');
});
</script>
{% endblock %}
