{% extends 'reservoir/base.html' %}
{% load static %}

{% block title %}tap - {{ subject }}{% endblock %}

{% block content %}
<div class="row">
  <div class="offset-1 col-10">
    <div class="jumbotron">
      <h1 class="display-4">{{ subject }}</h1>
      <p class="lead">Sessions: {{ num_sessions }}</p>
      <p class="lead">Files: {{ num_files }}</p>
    </div>
  </div>
  <div class="offset-1 col-10">
    {% for session in sessions %}
    <ol class="breadcrumb">
      <li class="breadcrumb-item">Executive Summary</li>
      <li class="breadcrumb-item active"><a href="{% url 'exec_summary' subject session %}" target="_blank">{{ session }}</a></li>
    </ol>
    {% endfor %}
  </div>
</div>
<div id="files">
<script>
  ReactDOM.render(
    React.createElement(Table, {
      filter: true,
      buttons: true,
      select: true,
      table_url: "{% url 'table' %}",
      filter_urls: ["{% url 'api_fields' %}","{% url 'api_unique' %}"],
      table_id: "filetable",
      fields: ["Filename","Path"],
      subject: "{{ subject }}"
    }),
    document.getElementById("files")
  );
</script>
</div>
{% endblock %}
